<h3>Homework 3: todos list</h3>
<app-todos></app-todos>

<h3>Homework 4: list of file sizes</h3>
<app-file-sizes></app-file-sizes>

<h3>Homework 6: tag input</h3>
<form [formGroup]="form" (ngSubmit)="form.valid && onSubmit()">
  <app-tag-input formControlName="tag"></app-tag-input>
  <div *ngIf="form.invalid">
    <span *ngIf="form.get('tag').errors.tag && form.get('tag').dirty">
      {{ form.get('tag').errors.tag }}
    </span>
  </div>
</form>

<ul>
  <li *ngFor="let t of tags">{{ t }}</li>
</ul>
